<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/vibor.css">
    <link rel="stylesheet" href="static/adaptive.css">
    <link rel="stylesheet" href="static/background.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel=”icon” href=”/static/image/favicon.ico” type=”image/x-icon”>
</head>

<body>
<header>
    <div class="head">
        <img class="headerimg"
             src="https://media.discordapp.net/attachments/1066852564596957294/1067538495930896424/NewTime_2.png"
             alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/649/649686.png" alt="" class="headerpalka">
        <h1> сервер возможностей!</h1>
    </div>
    <nav>
        <a href="http://{{ host }}">Главная</a>
        <a href="http://{{ host }}/meh">Механики сервера</a>
        <a href="http://{{ host }}/cities">RP-Города</a>
        <a href="http://{{ host }}/faq">FAQ</a>
        <a href="http://{{ host }}/rules">Правила</a>
<!--        <a href={{ account }}>{{ variable }}</a>-->
<!--        <img class="avatar-image" src={{ avatar }}>-->
    </nav>
    <a href="" class="logo" target="_blank">
        <img src="static/image/nt2.png" alt="">
    </a>
</header>
    <h1 align="center">Скоро здесь будет личный кабинет!</h1>
 </div>
</body>
</html>