<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приватный майнкрафт сервер — NewTime</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/vibor.css">
    <link rel="stylesheet" href="static/background.css">
    <link rel="stylesheet" href="static/slider-section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/preloader.css">
    <link rel="stylesheet" href="static/faq.css">
    <link rel="stylesheet" href="static/slider.css">
    <link rel="stylesheet" href="static/info.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/rules.css">
    <link rel="stylesheet" href="static/faqmain.css">
    <link rel="stylesheet" href="static/fonts.css">
</head>
<body>
<header>
    <div class="head">
        <img class="headerimg"
             src="https://media.discordapp.net/attachments/1066852564596957294/1067538495930896424/NewTime_2.png"
             alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/649/649686.png" alt="" class="headerpalka">
        <h1> сервер возможностей!</h1>
    </div>
    <nav>
        <a href="http://{{ host }}">Главная</a>
        <a href="http://{{ host }}/meh">Механики сервера</a>
        <a href="http://{{ host }}/cities">RP-Города</a>
        <a href="http://{{ host }}/faq">FAQ</a>
        <a href="http://{{ host }}/rules">Правила</a>
        <a href={{ account }}>{{ name }}</a>
        <img class="avatar-image" src={{ avatar }}>
    </nav>
    <a href="" class="logo" target="_blank">
        <img src="static/image/nt2.png" alt="">
    </a>
</header>

<div class="faq__container">
    <div class="question__container">
        <div class="question">

            <div class="question__text">Где найти ответ, на нужный мне вопрос?</div>
            <div class="mini__ava"></div>
            <div class="question__ava"></div>


        </div>
        <div class="answer">
            <div class="answer__ava"></div>
            <div class="answer__text">Внизу, достаточно кликнуть по интересующему тебя вопросу!</div>
        </div>
    </div>


    <div class="question__container">
        <div class="question" id="question1">

            <div class="question__text">А проходка на сервер бесплатная?</div>
            <div class="mini__ava" id="miniava1"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer1">
            <div class="answer__ava"></div>
            <div class="answer__text">Да. Бесплатная. Что бы попасть на сервер, нужно оставить заявку в дискорд
                сервере
            </div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question2">

            <div class="question__text">Есть ли у меня шанс стать частью администрации?</div>
            <div class="mini__ava" id="miniava2"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer2">
            <div class="answer__ava"></div>
            <div class="answer__text">Да, каждый может стать частью администрации во время набора. Набор проходит в
                среднем раз в 2 месяца
            </div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question3">

            <div class="question__text">Когда открылся сервер?</div>
            <div class="mini__ava" id="miniava3"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer3">
            <div class="answer__ava"></div>
            <div class="answer__text">1 явнаря, 2023 года.</div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question4">

            <div class="question__text">Какой средний онлайн?</div>
            <div class="mini__ava" id="miniava4"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer4">
            <div class="answer__ava"></div>
            <div class="answer__text">Примерно 14-20 человек</div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question5">

            <div class="question__text">Как скачать кастомный текстур пак?</div>
            <div class="mini__ava" id="miniava5"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer5">
            <div class="answer__ava"></div>
            <div class="answer__text">При заходе на сервер установка текстур пака произойдёт автоматически, самому
                ничего скачивать не потребуется!
            </div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question6">

            <div class="question__text">Это ванила?</div>
            <div class="mini__ava" id="miniava6"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer6">
            <div class="answer__ava"></div>
            <div class="answer__text">Да, сервер ванильный, но с небольшими дополнениями! Такими, как невидимые рамки
                или плазма войс.
            </div>
        </div>
    </div>

    <div class="question__container">
        <div class="question" id="question7">

            <div class="question__text">Как скачать сборку сервера?</div>
            <div class="mini__ava" id="miniava7"></div>
            <div class="question__ava"></div>
        </div>
        <div class="answer hidden" id="answer7">
            <div class="answer__ava"></div>
            <div class="answer__text">Подробная инструкция есть в нашем дискорд сервере!</div>
        </div>
    </div>
</div>


<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><img class="img_footer" src="static/image/vktwo.png" alt=""></a>
            <a href="#"><img class="img_footer" src="static/image/discordone.png" alt=""></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Главная</a></li>
            <li class="list-inline-item"><a href="#">Механики сервера</a></li>
            <li class="list-inline-item"><a href="#">RP-города</a></li>
            <li class="list-inline-item"><a href="#">FAQ</a></li>
            <li class="list-inline-item"><a href="#">Правила</a></li>
        </ul>
        <p class="copyright">NewTime © 2023</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="static/script.js"></script>
<script src="static/faq.js"></script>
</body>
</html>