<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приватный майнкрафт сервер — NewTime</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/vibor.css">
    <link rel="stylesheet" href="static/adaptive.css">
    <link rel="stylesheet" href="static/background.css">
    <link rel="stylesheet" href="static/slider-section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/preloader.css">
    <link rel="stylesheet" href="static/faq.css">
    <link rel="stylesheet" href="static/slider.css">
    <link rel="stylesheet" href="static/info.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/rules.css">
    <link rel="stylesheet" href="static/fonts.css">
</head>
<body>
<header>
    <div class="head">
        <img class="headerimg"
             src="https://media.discordapp.net/attachments/1066852564596957294/1067538495930896424/NewTime_2.png"
             alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/649/649686.png" alt="" class="headerpalka">
        <h1> сервер возможностей!</h1>
    </div>
    <nav>
        <a href="http://{{ host }}">Главная</a>
        <a href="http://{{ host }}/meh">Механики сервера</a>
        <a href="http://{{ host }}/cities">RP-Города</a>
        <a href="http://{{ host }}/faq">FAQ</a>
        <a href="http://{{ host }}/rules">Правила</a>
        <a href={{ account }}>{{ name }}</a>
        <img class="avatar-image" src={{ avatar }}>
    </nav>
    <a href="" class="logo" target="_blank">
        <img src="static/image/nt2.png" alt="">
    </a>
</header>
<div class="rules__container">
    <div class="rules__tittle">Основные Правила Сервера</div>
    <div class="rules">
        <span class="rules__subtittle">№1 ОБЩИЕ ПОЛОЖЕНИЯ</span> <br><br>
        [ 1.1 ] ➤ Незнание правил не освобождает от ответственности!<br><br>
        [ 1.2 ] ➤ Данный свод правил, прежде всего, призван сделать вашу игру безопасной и комфортной! Мы считаем
        неприемлемыми поступки, разрушающие атмосферу игры и доставляющие неудобства другим игрокам!<br><br>
        [ 1.3 ] ➤ Администрация проекта в частных случаях вправе принимать решение о наказании нарушителей вне рамок
        нижеизложенных правил.<br><br>
        Под определение частных случаев попадают всевозможные непредусмотренные правилами ситуации, преследующие цель
        нарушения прав и свобод игрока, а также нахождения лазеек в существующем своде правил.<br><br>
        [ 1.4 ] ➤ На сервере присутствует система предупреждений. Так, например, за некоторые из правонарушений игрок
        может получить warn.<br><br>
        При получении 3 варнов будет выдан автоматический бан!<br><br>
        [ 1.5 ] ➤ В случае, если вы стали свидетелем нарушения правил сервера или пострадали от действий
        правонарушителя, пожалуйста, обратитесь в техподдержку, не устраивайте суд над обидчиком самостоятельно!<br><br>
    </div>
    <div class="rules">
        <span class="rules__subtittle">№2 ПРАВИЛА ИГРЫ</span> <br><br>
        [ 2.1 ] ➤ Запрещены любые формы гриферства, хранение и использование читов. (ban-ip)<br><br>
        [ 2.2 ] ➤ Запрещено несогласованное убийство игрока как косвенными, так и прямыми способами. (warn)<br><br>
        [ 2.3 ] ➤ Запрещено проникновение на территорию игрока без его согласия. В случае нарушения границ, владелец
        частной собственности вправе потребовать от нарушителя покинуть территорию. В случае неподчинения, хозяин земли
        имеет право трижды, с интервалом в минуту предупредить незваного гостя, а затем, при отказе в удовлетворении
        требований, убить.<br><br>
        [ 2.4 ] ➤ Запрещено строительство бессмысленных сооружений, неполное вырубание деревьев, порча нейтральных
        территорий, прилегающих к чужим землям на расстоянии до 100 блоков. (warn)<br><br>
        [ 2.5 ] ➤ Запрещен дюп в любых его формах и проявлениях. Исключением является - дюп ковров/тнт. (warn)<br><br>
        [ 2.6 ] ➤ Обыгрывание Role-Play ситуаций разрешается только при согласии обеих сторон, участвующих в RP!
        (warn)<br><br>
        [ 2.7 ] ➤ Запрещено строительство в радиусе 500 блоков от спавна/хаба без официального согласия от президента.
        (warn + снос постройки)<br><br>
        [ 2.8 ] ➤ Запрещено строительство лаг-машин, а также ферм, создающих сильную нагрузку на сервер. (warn + снос
        постройки)<br><br>
        [ 2.9 ] ➤ Запрещена перепродажа игрового имущества, доступа на сервер, или любых других платных услуг за
        реальные деньги. (ban 7 - 30d)<br><br>
    </div>
    <div class="rules"><span class="rules__subtittle">№3 ПРАВИЛА ОБЩЕНИЯ</span> <br><br>
        [ 3.1 ] ➤ Запрещены спам, флуд, злоупотребление цветным текстом, реклама сторонних проектов, распространение
        NSFW контента. (mute 1h-7d)<br><br>
        [ 3.2 ] ➤ Неадекватное, раздражительное для других игроков поведение, троллинг, сильная навязчивость и прочее
        запрещены. (mute 1h-1d)<br><br>
        [ 3.3 ] ➤ Запрещены прямые или косвенные оскорбления, унижения участников проекта. (mute 1h-1d)<br><br>
        [ 3.4 ] ➤ Использование каналов ненадлежащим образом строжайше запрещено! (mute 1h-1d)<br><br>
        [ 3.5 ] ➤ Распространение личной информации игрока без его согласия запрещено. (mute 1h-7d)<br><br>
        [ 3.6 ] ➤ Запрещено разжигание межнациональной розни, а также любые разговоры, содержащие в себе политические
        темы или политический подтекст. (mute 1h-7d)<br><br>
    </div>
    <div class="rules"><span class="rules__subtittle">№4 ПРАВИЛА АДМИНИСТРАЦИИ</span> <br><br>
        [ 4.1 ] ➤ Администрации запрещено использовать права и полномочия в личных целях. (снятие)<br><br>
        [ 4.2 ] ➤ Администрация сервера не обязана откатывать постройки, или какими либо иными способам помогать игрокам
        в случаях не связанных с гриферством или ошибками сервера.<br><br>
        [ 4.3 ] ➤ Администрация сервера не имеет права раскрывать внутреннюю, негласную информацию проекта.<br><br>
        [ 4.4 ] ➤ Администрация оставляет за собой право выбирать наказание, ориентируясь на правила/тяжесть содеянного.<br><br>
        [ 4.5 ] ➤ Администрация обязана следить за исполнением правил и пресекать любые правонарушения.<br><br>
        [ 4.6 ] ➤ Администрация проекта не имеет права разжигать и принимать участие в конфликтах, проявлять всяческую
        агрессию, угрожать или оскорблять участников проекта.<br><br>
    </div>
</div>


<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><img class="img_footer" src="static/image/vktwo.png" alt=""></a>
            <a href="#"><img class="img_footer" src="static/image/discordone.png" alt=""></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Главная</a></li>
            <li class="list-inline-item"><a href="#">Механики сервера</a></li>
            <li class="list-inline-item"><a href="#">RP-города</a></li>
            <li class="list-inline-item"><a href="#">FAQ</a></li>
            <li class="list-inline-item"><a href="#">Правила</a></li>
        </ul>
        <p class="copyright">NewTime © 2023</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="static/script.js"></script>
</body>
</html>